
**/bin/
**/bin-int/
dependencies/
Scripts/__pycache__

**/assets/*
!**/assets/Shaders

**/Log/*.log
*.json
**/imgui.ini
**/project.skproj

# Visual Studios files
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
