
bin/
!Shark/dependencies/Assimp/bin
bin-int/
Scripts/__pycache__

Shark-Editor/Cache
Shark-Editor/imgui.ini
Shark-Editor/Logs/*.log
Shark-Runtime/Logs/*.log

# Visual Studios files
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
*.csproj*
Shark-Editor/Resources/Binaries
Shark-Editor/SandboxProject/Binaries
Shark-Editor/SandboxProject/Intermediates
