
**/bin/
**/bin-int/
dependencies/
Scripts/__pycache__

SharkFin/Cache
SharkFin/Assets
SharkFin/imgui.ini
SharkFin/Log/*.log

# Visual Studios files
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
